@model TaskManagementSystem.Models.TaskItem

<h2>Create</h2>

<form method="post">
    Title: <input name="Title" /><br />
    Description: <input name="Description" /><br />
    DueDate: <input type="datetime-local" name="DueDate" /><br />
    Done: <input type="checkbox" name="IsCompleted" /><br />
    <button type="submit">Save</button>
</form>